<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-file-heading" data-cy="FileCreateUpdateHeading" jhiTranslate="coreApp.file.home.createOrEditLabel">
        Create or edit a File
      </h2>

      <div>
        <jhi-alert-error />

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" for="field_id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        @let visibilityRef = editForm.get('visibility')!;
        <div class="mb-3">
          <label class="form-label" for="field_visibility" jhiTranslate="coreApp.file.visibility">Visibility</label>
          <select class="form-control" name="visibility" formControlName="visibility" id="field_visibility" data-cy="visibility">
            <option [ngValue]="null">{{ 'coreApp.FileVisibility.null' | translate }}</option>
            @for (fileVisibility of fileVisibilityValues; track $index) {
              <option [value]="fileVisibility">{{ 'coreApp.FileVisibility.' + fileVisibility | translate }}</option>
            }
          </select>
          @if (visibilityRef.invalid && (visibilityRef.dirty || visibilityRef.touched)) {
            <div>
              @if (editForm.get('visibility')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>

        @let fileRef = editForm.get('file')!;
        <div class="mb-3">
          <label class="form-label" for="field_file" jhiTranslate="coreApp.file.blob">File</label>
          <div>
            @if (fileRef.value) {
              <div class="form-text text-danger clearfix">
                <span class="pull-start">{{ fileRef.value.name }}, {{ byteSize(fileRef.value!) }}</span>
                <button
                  type="button"
                  (click)="editForm.patchValue({ file: undefined, contentType: undefined })"
                  class="btn btn-secondary btn-xs pull-end"
                >
                  <fa-icon icon="times" />
                </button>
              </div>
            }
            <input type="file" id="file_file" data-cy="file" (change)="setFileData($event, 'file')" jhiTranslate="entity.action.addblob" />
          </div>
          <input type="hidden" class="form-control" name="file" id="field_file" data-cy="file" formControlName="file" />
          <input type="hidden" class="form-control" name="contentType" id="field_contentType" formControlName="contentType" />
          @if (fileRef.invalid && (fileRef.dirty || fileRef.touched)) {
            <div>
              @if (editForm.get('file')?.errors?.required) {
                <small class="form-text text-danger" jhiTranslate="entity.validation.required">This field is required.</small>
              }
            </div>
          }
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban" />&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving()"
          class="btn btn-primary"
        >
          <fa-icon icon="save" />&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
